[Unit]
Description=RR to SS 成約プロセス同期
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/project/apiconnection_factory/scripts/RR_to_SS_seiyakuprocess
EnvironmentFile=/etc/apiconnection.env
ExecStart=/root/project/apiconnection_factory/venv/bin/python RR_to_SS_seiyakuprocess-joukyoustatus.py
ExecStart=/root/project/apiconnection_factory/venv/bin/python RR_to_SS_seiyakuprocess-kinkyustatus.py
StandardOutput=journal
StandardError=journal
