[Unit]
Description=RR to SS UUカウンター同期
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/project/apiconnection_factory/scripts/RR_to_SS_UUcounter
EnvironmentFile=/etc/apiconnection.env
ExecStart=/root/project/apiconnection_factory/venv/bin/python RR_to_SS_UUcounter-master.py
ExecStart=/root/project/apiconnection_factory/venv/bin/python RR_to_SS_UUcounter-sonotanodenwa.py
StandardOutput=journal
StandardError=journal
